/* General styles for the header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
  position: relative; /* Needed for positioning the menu toggle */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  position: sticky;
  z-index: 5;
  top: 0;
}

header:hover {
  background-color: #444;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logo a:hover {
  color: #007bff;
}

.menu-toggle {
  display: none; /* Hidden by default, visible only on smaller screens */
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu-toggle:hover {
  color: #007bff;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #007bff;
}

.nav-menu {
  display: flex;
}

.nav-menu.open ul {
  transform: translateX(0); /* Show the menu when open */
}

/* Responsive styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Show the menu toggle button on smaller screens */
  }

  .nav-menu {
    display: none; /* Hide the menu by default on smaller screens */
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
    z-index: 1;
    transform: translateX(100%); /* Hide the menu off-screen */
  }

  .nav-menu.open {
    display: block; /* Show the menu when open */
    transform: translateX(0); /* Slide in from the right */
    z-index: 2;
  }

  nav ul {
    flex-direction: column; /* Stack menu items vertically */
  }

  nav ul li {
    margin: 0.5rem 0;
  }
}
